.spinner.ant-spin-spinning {
    display: block;
}

.skeleton-card.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-title, .skeleton-card.ant-skeleton.ant-skeleton-active .ant-skeleton-content .ant-skeleton-paragraph > li {
    background: linear-gradient(90deg, #1DA57A 25%, #001529 37%, #1DA57A 63%);
    animation: ant-skeleton-loading 1.4s ease infinite;
    background-size: 400% 100%;
}

.stock-card-space .ant-space-item {
    margin-right: 10px;
}

.chart-container {
    padding: 15px 24px;
    margin-right: 10px;
}